@import "tailwindcss";

@theme {
	--color-primary: #171717;
	--color-secondary: #FFFFFF;
	--color-bgMain: #F5F5F5;
	--color-accent: #DBA771;
	--color-textLight: #6E6E6E;
	--color-textKill: #ADADAD;

	--text-xxs: 13px;
	--text-xs: 14px;
	--text-sm: 16px;
	--text-md: 18px;
	--text-lg: 24px;
	--text-xl: 32px;
	--text-2xl: 40px;

	--spacing-xxs: 8px;
	--spacing-xs: 18px;
	--spacing-sm: 24px;
	--spacing-md: 32px;
	--spacing-lg: 40px;
	--spacing-xl: 48px;
	--spacing-2xl: 60px;
	--spacing-3xl: 80px;

	--breakpoint-desktop: 1280px;
}

@tailwind utilities;
/* globals.css */

/* @layer utilities {
	.bg-\[var\(--primary\)\] {content: "";}
	.bg-\[var\(--secondary\)\] {content: "";}
	.bg-\[var\(--accent\)\] {content: "";}
  
	.text-\[var\(--primary\)\] {content: "";}
	.text-\[var\(--secondary\)\] {content: "";}
	.text-\[var\(--accent\)\] {content: "";}
  
	.hover\:bg-\[var\(--accent\)\]:hover {content: "";}
} */
  

:root {
	--primary: #171717;
	--secondary: #FFFFFF;
	--bgMain: #F5F5F5;
	--accent: #DBA771;
	--textLight: #6E6E6E;
	--textKill: #ADADAD;

	--text-xxs: 13px;
 	--text-xs: 14px;
	--text-sm: 16px;
	--text-md: 18px;
	--text-lg: 24px;
	--text-xl: 32px;
	--text-2xl: 40px;

	--weight-extralight: 200;
	--weight-light: 300;
	--weight-normal: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;
	--weight-extrabold: 800;

	--spacing-xxs: 8px;
	--spacing-xs: 18px;
	--spacing-sm: 24px;
	--spacing-md: 32px;
	--spacing-lg: 40px;
	--spacing-xl: 48px;
	--spacing-2xl: 60px;

	--desktop: 1280px;
}

@layer base {
	/* html:lang(en) {
		font-family: var(--font-inter), sans-serif;
	  }
	  
	  html:lang(th) {
		font-family: var(--font-aktiv), sans-serif;
	  } */

	.font-thai {
		font-family: var(--font-aktiv), sans-serif;
	}

	body {
		background-color: var(--bgMain);
		color: var(--primary);
		font-size: var(--text-sm);
	}
	p, li {
		color: var(--textLight);
		font-size: var(--text-sm);
	}
	h1 {
		font-size: var(--text-lg);
	}
	h2 {
		/* font-weight: var(--weight-semibold); */
		color: var(--textLight);
	}
	input, textarea, select {
		outline: none;
	}
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #171717;
    --secondary: #FFFFFF;
    --bgMain: #F5F5F5;
    /* --bgMain: #292828;
    --primary: #FFFFFF;
    --secondary: #171717; */
    --accent: #DBA771;
    --textLight: #6E6E6E;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}


/* classes */
.mainLayout {
	width: 100%;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.innerContainer {
	width: 100%;
	max-width: var(--desktop);
	margin-inline: auto;
}

.cardContainer {
	width: 100%;
	max-width: 1280px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
	gap: var(--spacing-sm);
}
.badgeContainer {
	width: 100%;
	max-width: 1280px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: var(--spacing-sm);
}

.overflowUnset {
	overflow-clip-margin: unset;
}

@media screen and (max-width: 768px) {

}


/* Effects */
.fadeInItem {
    opacity: 0;
    animation: fadeInEffect 0.8s ease forwards;
    animation-delay: 0.3s;
}
@keyframes fadeInEffect {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.imageZoom {
	opacity: 0;
	animation: zoomInEffect 1.2s ease-out forwards;
	overflow: hidden;
}
@keyframes zoomInEffect {
	0% {
		opacity: 0;
		transform: scale(1.05) translateY(20px);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}

.fxSlideLeft {
	opacity: 0;
	animation: fxSlideLeft 0.8s ease forwards;
	animation-delay: 0.3s;
}
@keyframes fxSlideLeft {
	from {
		opacity: 0;
		transform: translateX(-20px)
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}